* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***************** structure ****************/
/***************** structure ****************/

.header {
    background-color: #080B12;
    height: 90px;
}

aside {
    width: 300px;
    background-color: black;
    height: calc(100vh - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
    width: 100%;
}

.content {
    width: calc(100% - 300px);
    height: calc(100vh - 90px);
}

.brani {
    background-color: #141922;
    height: calc(100vh - 180px)
}
/***************** utilities ****************/
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.sp_between {
    justify-content: space-between;
}

.grey_txt {
    color: #A3A3A3;
}

.white_txt {
    color: white;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.sbold {
    font-weight: 600;
}
/***************** /utilities ****************/


/***************** side ****************/
aside {
    font-weight: 600;
    color: #A3A3A3;
    font-size: 0.8rem;
    padding: 1rem;
}

aside img, i{
    height: 30px;
    margin-right: 0.5rem;
    filter: brightness(0.7);
}

aside .img_cnt img {
    height: 40px;
    filter: brightness(1);
}

aside i {
    font-size: 2rem;
    color:white;
}

aside .home img {
     
}

aside img.cnt {
    margin: auto;
    text-align: center;
}

aside .home {
    padding-top: 1rem;
    padding-bottom: 0.75rem;   
}

aside .home div:first-child {
    border-left: 3px solid #ADFF2F;
    margin-left: -1rem;
    padding-left: 1rem;
}

h3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

aside .side_up div.flex {
    align-items: center;
    margin-bottom: 0.75rem;
}

aside li {
    margin-top: 1rem;
    list-style: none;
}

aside .install {
    border-bottom: 1px solid #A3A3A3;
}
















/***************** siteheader ****************/












/* debug */
